# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Data (Now included)
# train/
# test/

# Intermediate Files
*.keras
!model.keras  # Exception: We DO want to track the final model
*.h5
*.ckpt

# Artifacts & Logs
task.md
*.log

# OS generated
.DS_Store
Thumbs.db
